<a href="https://colab.research.google.com/github/Alan-Hans/Challenge-Data-Scientist/blob/developement/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##This challenge requires to predict the probability of delay of flights at Santiago de Chile Airport (SCL) using a provided dataset. This work was developed by Alan Hans Bitterlich Koning, email: Alan.bitterlich.k@gmail.com. The index of this notebook is the following: 
```
1.- Import data 
2.- EDA
3.- Functions
4.- Models
5.- Results
6.- Comments

#1.- Import data

In [16]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Alan-Hans/Challenge-Data-Scientist/main/dataset_SCL.csv'

df = pd.read_csv(url)

<ipython-input-16-944f3e7ea476>:5: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [17]:
df

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

Description of every column
```
Fecha-I: Date and time of departure (local time) in format "YYYY-MM-DD hh:mm:ss" (year-month-day hour:minute:second).
Vlo-I: Flight number (text)
Ori-I: Origin airport (text)
Des-I: Destination airport (text)
Emp-I: Airline company (text)
Fecha-O: Date and time of arrival (local time) in format "YYYY-MM-DD hh:mm:ss" (year-month-day hour:minute:second).
Vlo-O: Flight number (text)
Ori-O: Origin airport (text)
Des-O: Destination airport (text)
Emp-O: Airline company (text)
DIA: Day of the month (numeric)
MES: Month of the year (numeric)
AÑO: Year (numeric)
DIANOM: Day of the week (text)
TIPOVUELO: Type of flight (text)
OPERA: Operating airline company (text)
SIGLAORI: Origin airport code (text)
SIGLADES: Destination airport code (text)```

#2.-EDA

 
#Some interesting insights from this analysis: 

*   It shows that the largest number of flights in this data correspond to Grupo LATAM airlines with about 58%.
*   The Top 5 destinations are: Buenos Aires,     Antofagasta,   Lima,             
Calama and           Puerto Montt.
*   Most flights are made during the month of December and on Fridays.

In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Print the first few rows of the dataset to get a sense of its structure
print(df.head(10))

               Fecha-I Vlo-I Ori-I Des-I Emp-I              Fecha-O Vlo-O  \
0  2017-01-01 23:30:00   226  SCEL  KMIA   AAL  2017-01-01 23:33:00   226
1  2017-01-02 23:30:00   226  SCEL  KMIA   AAL  2017-01-02 23:39:00   226
2  2017-01-03 23:30:00   226  SCEL  KMIA   AAL  2017-01-03 23:39:00   226
3  2017-01-04 23:30:00   226  SCEL  KMIA   AAL  2017-01-04 23:33:00   226
4  2017-01-05 23:30:00   226  SCEL  KMIA   AAL  2017-01-05 23:28:00   226
5  2017-01-06 23:30:00   226  SCEL  KMIA   AAL  2017-01-07 00:04:00   226
6  2017-01-07 23:30:00   226  SCEL  KMIA   AAL  2017-01-07 23:25:00   226
7  2017-01-08 23:30:00   226  SCEL  KMIA   AAL  2017-01-08 23:25:00   226
8  2017-01-09 23:30:00   226  SCEL  KMIA   AAL  2017-01-10 00:10:00   226
9  2017-01-11 23:30:00   226  SCEL  KMIA   AAL  2017-01-12 00:39:00   226

  Ori-O Des-O Emp-O  DIA  MES   AÑO     DIANOM TIPOVUELO              OPERA  \
0  SCEL  KMIA   AAL    1    1  2017    Domingo         I  American Airlines
1  SCEL  KMIA   AAL    2    1  2017      Lunes         I  American Airlines
2  SCEL  KMIA   AAL    3    1  2017     Martes         I  American Airlines
3  SCEL  KMIA   AAL    4    1  2017  Miercoles         I  American Airlines
4  SCEL  KMIA   AAL    5    1  2017     Jueves         I  American Airlines
5  SCEL  KMIA   AAL    7    1  2017     Sabado         I  American Airlines
6  SCEL  KMIA   AAL    7    1  2017     Sabado         I  American Airlines
7  SCEL  KMIA   AAL    8    1  2017    Domingo         I  American Airlines
8  SCEL  KMIA   AAL   10    1  2017     Martes         I  American Airlines
9  SCEL  KMIA   AAL   12    1  2017     Jueves         I  American Airlines

   SIGLAORI SIGLADES
0  Santiago    Miami
1  Santiago    Miami
2  Santiago    Miami
3  Santiago    Miami
4  Santiago    Miami
5  Santiago    Miami
6  Santiago    Miami
7  Santiago    Miami
8  Santiago    Miami
9  Santiago    Miami

In [20]:
print(df.describe())

                DIA           MES           AÑO
count  68206.000000  68206.000000  68206.000000
mean      15.714790      6.622585   2017.000029
std        8.782886      3.523321      0.005415
min        1.000000      1.000000   2017.000000
25%        8.000000      3.000000   2017.000000
50%       16.000000      7.000000   2017.000000
75%       23.000000     10.000000   2017.000000
max       31.000000     12.000000   2018.000000

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB
None

In [32]:
## For the purpose of this analysis, null results will be filtered out, which apparently corresponds to only 1, so it will not have a great impact.
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68205 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68205 non-null  object
 1   Vlo-I      68205 non-null  object
 2   Ori-I      68205 non-null  object
 3   Des-I      68205 non-null  object
 4   Emp-I      68205 non-null  object
 5   Fecha-O    68205 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68205 non-null  object
 8   Des-O      68205 non-null  object
 9   Emp-O      68205 non-null  object
 10  DIA        68205 non-null  int64
 11  MES        68205 non-null  int64
 12  AÑO        68205 non-null  int64
 13  DIANOM     68205 non-null  object
 14  TIPOVUELO  68205 non-null  object
 15  OPERA      68205 non-null  object
 16  SIGLAORI   68205 non-null  object
 17  SIGLADES   68205 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.9+ MB

In [33]:
for i in df.columns:
    print(i)
    print('Unique Values: '+str(len(df.groupby([i]).count())))
    print(df[i].value_counts())

Fecha-I
Unique Values: 53252
2017-07-28 13:30:00    6
2017-03-19 18:00:00    6
2017-03-26 18:00:00    6
2017-12-16 13:35:00    5
2017-02-15 13:35:00    5
                      ..
2017-06-01 15:16:00    1
2017-06-02 15:16:00    1
2017-06-03 15:16:00    1
2017-06-04 15:16:00    1
2017-12-31 14:55:00    1
Name: Fecha-I, Length: 53252, dtype: int64
Vlo-I
Unique Values: 750
174     686
11      645
116     608
150     557
162     553
       ...
1158      1
368       1
9955      1
9701      1
1218      1
Name: Vlo-I, Length: 750, dtype: int64
Ori-I
Unique Values: 1
SCEL    68205
Name: Ori-I, dtype: int64
Des-I
Unique Values: 64
SCFA    5787
SPJC    5269
SCCF    5145
SCTE    4357
SCIE    3995
        ...
SBFI       1
SPSO       1
SEQU       1
SEQM       1
SARI       1
Name: Des-I, Length: 64, dtype: int64
Emp-I
Unique Values: 30
LAN    37611
SKU    14298
TAM     3049
ARG     1949
CMP     1850
LAW     1573
AVA     1152
JAT     1095
GLO      806
AAL      757
ACA      565
IBE      362
AFR      358
DAL      358
AMX      351
UAL      335
ONE      279
AZA      259
KLM      251
LAP      216
BAW      205
QFU      195
JMR      100
LRC       92
AUT       74
PUE       49
LXP        9
LPE        4
DSM        2
LNE        1
Name: Emp-I, dtype: int64
Fecha-O
Unique Values: 62774
2017-05-19 07:01:00    5
2017-11-05 14:51:00    5
2017-10-25 07:37:00    4
2017-03-08 13:34:00    4
2017-09-07 20:10:00    4
                      ..
2017-05-04 15:48:00    1
2017-05-05 17:02:00    1
2017-05-07 17:03:00    1
2017-05-08 17:06:00    1
2017-12-31 15:04:00    1
Name: Fecha-O, Length: 62774, dtype: int64
Vlo-O
Unique Values: 866
174      649
11       646
116      608
150      517
704      514
        ...
356        1
1148       1
846A       1
4950       1
180.0      1
Name: Vlo-O, Length: 866, dtype: int64
Ori-O
Unique Values: 1
SCEL    68205
Name: Ori-O, dtype: int64
Des-O
Unique Values: 63
SCFA    5786
SPJC    5269
SCCF    5146
SCTE    4357
SCIE    3993
        ...
SEQM       2
KIAD       1
SPSO       1
EGYP       1
SLCB       1
Name: Des-O, Length: 63, dtype: int64
Emp-O
Unique Values: 32
LAN    20988
LXP    14558
SKU    14298
TAM     3046
ARG     1946
CMP     1850
JMR     1647
LPE     1214
JAT     1095
AVA      885
GLO      806
AAL      757
ACA      565
DSM      493
LNE      374
IBE      362
AFR      358
DAL      358
LRC      357
AMX      351
UAL      335
ONE      279
AZA      259
KLM      251
LAP      219
BAW      205
QFA      195
AUT       77
PUE       49
56R       16
48O       10
TPU        2
Name: Emp-O, dtype: int64
DIA
Unique Values: 31
20    2290
27    2286
12    2284
10    2283
6     2275
22    2272
13    2272
3     2271
16    2268
26    2267
21    2267
7     2264
23    2260
5     2241
15    2239
11    2237
19    2237
24    2232
28    2232
17    2228
9     2227
2     2223
14    2221
4     2215
8     2213
1     2208
25    2179
18    2160
29    2044
30    2020
31    1290
Name: DIA, dtype: int64
MES
Unique Values: 12
12    6356
1     6107
11    6080
10    6032
7     5992
8     5744
9     5610
2     5561
3     5482
5     5240
4     5020
6     4981
Name: MES, dtype: int64
AÑO
Unique Values: 2
2017    68203
2018        2
Name: AÑO, dtype: int64
DIANOM
Unique Values: 7
Viernes      10292
Jueves       10250
Lunes        10131
Domingo       9796
Miercoles     9722
Martes        9662
Sabado        8352
Name: DIANOM, dtype: int64
TIPOVUELO
Unique Values: 2
N    36966
I    31239
Name: TIPOVUELO, dtype: int64
OPERA
Unique Values: 23
Grupo LATAM                 40892
Sky Airline                 14298
Aerolineas Argentinas        1949
Copa Air                     1850
Latin American Wings         1673
Avianca                      1152
JetSmart SPA                 1095
Gol Trans                     806
American Airlines             757
Air Canada                    565
Iberia                        362
Delta Air                     358
Air France                    358
Aeromexico                    351
United Airlines               335
Oceanair Linhas Aereas        279
Alitalia                      259
K.L.M.                        251
British Airways               205
Qantas Airways                195
Lacsa                          92
Austral                        74
Plus Ultra Lineas Aereas       49
Name: OPERA, dtype: int64
SIGLAORI
Unique Values: 1
Santiago    68205
Name: SIGLAORI, dtype: int64
SIGLADES
Unique Values: 62
Buenos Aires      6335
Antofagasta       5786
Lima              5269
Calama            5146
Puerto Montt      4357
                  ...
Quito                2
Washington           1
Pisco, Peru          1
Puerto Stanley       1
Cochabamba           1
Name: SIGLADES, Length: 62, dtype: int64